* {
  margin: 0;
  padding: 0;
}

body {
  background-color: blueviolet;
}

.App {
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 95vh;
}

#filter-input-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 2%;
  padding-right: 3%;
}

.filter-radio {
  font-size: larger;
  padding-left: .5%;
  padding-right: 1%;
}

#filter-input{
  font-size: larger;
  padding-left: .5%;
}

#cocktail-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 3%;
}

.cocktail-card {
  border-style: solid;
  border-color: black;
  background-color: aliceblue;
  text-align: center;
  height: 23em;
}

#cocktail-card-image {
  width: 75%;
  height: 75%;
  padding-top: 1em 
}

#cocktail-card-header {
  text-align: center;
  padding-top: 5.5% 
}

#nav-bar {
  background-color: blue;
  height: 5em;
  padding-left: 1em;
  padding-right: 1em;
}

#nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#app-header {
  flex: 1;
  color: white;
  padding-left: .7em;
}

.nav-link {
  color: white;
  font-size: larger;
  padding-right: 1.5em;
}

a.nav-link:hover {
  color: red;
}

#add-cocktail-form {
  display: grid;
  grid-template-columns: 30%;
  justify-content: center;
  padding-top: 5%;
}

.form-field {
  padding-top: 3%;
}

.ingredients-fields {
  padding-top: 1%;
}

.ingredients {
  width: 100%;
}

#ingredient-button-container {
  display: flex;
  justify-content: flex-start;
  gap: .25em;
  padding-top: 3%;
  padding-bottom: 2%;
}

.flex-button {
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.submit-button {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10%;
}

.success-message {
  color: green;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.error-message {
  color: red;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
}